 * {
	box-sizing: border-box;
	margin:0px;
	padding:0px;
}
div {
	width: 300px;
	border-top: 15px solid #F7FE2E;
    border-right: 15px solid #F7FE2E;
    border-bottom: 15px solid #F7FE2E;
    border-left: 15px solid #F7FE2E;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    text-align: center;
    margin: 40px;


}
.cajados {
	text-align: left;
	position: center;
}